// ==========================
// Variáveis SCSS
// ==========================

// Cores
$color-primary: #444;
$color-secondary: #00CC66;
$color-text: #222;
$color-text-mark: #2E86DE;
$color-background: #F9F9F9;
$color-background-dark: #222222;
$color-border: #00BFFF;

// Fontes e tamanhos
$font-size-text-title: 2.5em;
$font-size-text-caption: 2rem;
$font-size-paragraph: 1.3rem;

// Bordas e espaçamentos
$border-radius: 50px;
$section-margin: 40px;
$padding-default: 13px;

$second-transition: 0.4s;
