@use "../abstracts/variables";
@use "../abstracts/mixins";

header {
  top: 0;
  position: sticky;
  z-index: 10 !important;
  background: variables.$color-background;
  padding: 5px;
}

nav {
    transition: background 0.4s linear !important;
    padding-top: 0px;
    display: flex;
    align-items: center;
    height: 10vh;
    margin-left: 125px; 
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 0px;
    z-index: 1 !important;
}

.nav-list li {
    list-style: none;
    text-decoration: none;
    letter-spacing: 3px;
  }
  
  .nav-list li a {
    text-transform: uppercase;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: variables.$border-radius;


    &:hover {
        border: 1px solid variables.$color-secondary !important;
    }
}

.active-link {
  color: variables.$color-border;
  border: 1px solid variables.$color-secondary !important;
  color: variables.$color-secondary;
}

.mobile-menu {
    margin-left: -110px;
    cursor: pointer;
    display: none !important;
    background-color: transparent !important;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: variables.$color-secondary;
    margin: 8px;
    transition: 0.3s;
}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
} 

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
}

.nav-list {
  position: fixed; /* fica preso à viewport */
  top: 0;
  right: 0;
  width: 80vw;
  height: 100vh;
  background-color: #fff;
  border: 1px solid variables.$color-secondary;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: -1px;
  gap: 80px;
  transform: translateX(100%); /* fora da tela sem criar scroll */
  transition: transform 0.3s ease-in;
}

.nav-list.active {
  transform: translateX(0); /* entra na tela */
}

  /* REMOVE este bloco que trava a animação */
  /* .nav-list.active li {
       opacity: 0;
  } */

  .nav-list li {
    margin-left: 0;
    opacity: 0; /* some até a animação rodar */
  }

  .nav-list li a {
    color: variables.$color-primary;
  }

  .mobile-menu {
    display: block !important;
  }
}
